{
  "openapi": "3.0.0",
  "info": {
    "title": "Deepdub API",
    "description": "Deepdub's Text-to-Speech API enables high-quality, expressive speech generation with voice cloning, accent control, and real-time streaming capabilities.",
    "contact": {
      "email": "support@deepdub.ai"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://restapi.deepdub.ai/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "OpenAPI",
    "url": "https://restapi.deepdub.ai/api/v1/swagger/index.html"
  },
  "paths": {
    "/tts": {
      "post": {
        "operationId": "generateTTS",
        "description": "Generate and stream TTS audio based on the provided text. Returns an audio stream in the specified format (default MP3). The audio is generated using the specified model and voice prompt, with optional parameters for fine-tuning the output.",
        "tags": ["TTS"],
        "summary": "Generate and stream TTS audio",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/model.GenerationRequest"
        },
        "responses": {
          "200": {
            "description": "Audio stream in the requested format",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      }
    },
    "/tts/retroactive": {
      "post": {
        "operationId": "generateTTSRetroactive",
        "description": "Submit a TTS generation request and receive a URL for later audio retrieval. The audio is generated asynchronously and can be downloaded once ready using the returned URL.",
        "tags": ["TTS"],
        "summary": "Generate TTS audio retroactively",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/model.GenerationRequest"
        },
        "responses": {
          "200": {
            "description": "Successful response with retrieval URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.URLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      }
    },
    "/tts/retroactive/{id}": {
      "get": {
        "operationId": "getTTSRetroactive",
        "description": "Stream the generated audio for a previously submitted retroactive TTS request. The audio is returned as a binary stream in the originally requested format.",
        "tags": ["TTS"],
        "summary": "Get audio for a retroactive TTS request",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The generation ID returned from the retroactive TTS request",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audio stream",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "404": {
            "description": "Generation ID not found or audio not yet ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      }
    },
    "/voice": {
      "get": {
        "operationId": "getVoicePrompts",
        "description": "Retrieve all voice prompts associated with the authenticated customer's account. Results can be limited using the `limit` query parameter.",
        "tags": ["Voice"],
        "summary": "Get voice prompts",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of voice prompts to return",
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of voice prompts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voicePrompts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/model.VoicePrompt"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createVoicePrompt",
        "description": "Upload a voice sample to create a new voice prompt in the voice bank. The audio data must be base64-encoded. Maximum file size is 20 MB.",
        "tags": ["Voice"],
        "summary": "Upload a voice sample",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.VoiceBankAPIRequest"
              }
            }
          },
          "description": "Voice upload request. Audio data must be base64-encoded and not exceed 20 MB.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Voice prompt created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/model.VoiceBankAPIResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid audio data, missing fields, or file exceeds 20 MB limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — voice prompt limit reached for your account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateVoicePrompt",
        "description": "Update metadata for an existing voice prompt. Only non-empty fields are updated — omit fields you don't want to change.",
        "tags": ["Voice"],
        "summary": "Update a voice prompt",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.VoiceBankAPIUpdateRequest"
              }
            }
          },
          "description": "Voice update request. Only non-empty fields will be updated.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Voice prompt updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompt": {
                      "$ref": "#/components/schemas/model.VoicePrompt"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      }
    },
    "/voice/{prompt_id}": {
      "get": {
        "operationId": "getVoicePromptById",
        "description": "Retrieve a specific voice prompt by its unique identifier.",
        "tags": ["Voice"],
        "summary": "Get a voice prompt by ID",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Voice Prompt ID",
            "name": "prompt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Voice prompt details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompt": {
                      "$ref": "#/components/schemas/model.VoicePrompt"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "404": {
            "description": "Voice prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteVoicePrompt",
        "description": "Permanently delete a voice prompt by its unique identifier.",
        "tags": ["Voice"],
        "summary": "Delete a voice prompt",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Voice Prompt ID",
            "name": "prompt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Voice prompt deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      }
    },
    "/concurrent_connections/batch": {
      "get": {
        "operationId": "getConcurrentConnectionsBatch",
        "description": "Get autoscaling group information for multiple models at once.",
        "tags": ["Infrastructure"],
        "summary": "Get connections for multiple models",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma-separated list of model IDs",
            "name": "model_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "dd-etts-1.1,dd-etts-2.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch connection info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      }
    },
    "/concurrent_connections/{model_id}": {
      "get": {
        "operationId": "getConcurrentConnections",
        "description": "Get the current number of machines and connections available for a specific model's autoscaling group.",
        "tags": ["Infrastructure"],
        "summary": "Get connections for a model",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Model ID",
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "dd-etts-1.1"
          }
        ],
        "responses": {
          "200": {
            "description": "Connection info for the model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.ConcurrentConnectionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateConcurrentConnections",
        "description": "Update the min, max, and desired capacity of the autoscaling group for a specific model.",
        "tags": ["Infrastructure"],
        "summary": "Update model autoscaling group",
        "parameters": [
          {
            "description": "API Key",
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Model ID",
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "dd-etts-1.1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.UpdateASGRequest"
              }
            }
          },
          "description": "Update ASG request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated connection info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.ConcurrentConnectionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid size parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. Must start with `dd-` prefix."
      }
    },
    "requestBodies": {
      "model.GenerationRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/model.GenerationRequest"
            }
          }
        },
        "description": "TTS generation request",
        "required": true
      }
    },
    "schemas": {
      "model.AccentControl": {
        "description": "Parameters for fine-tuning accent characteristics in generated speech",
        "type": "object",
        "properties": {
          "accentBaseLocale": {
            "description": "Base locale for the accent (e.g., en-US, fr-FR)",
            "type": "string",
            "example": "en-US"
          },
          "accentLocale": {
            "description": "Target accent locale to blend with (e.g., en-GB, es-ES)",
            "type": "string",
            "example": "en-GB"
          },
          "accentRatio": {
            "description": "Ratio of accent blending from 0.0 to 1.0 (0.0 = base locale only, 1.0 = target locale only)",
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "example": 0.5
          }
        }
      },
      "model.GenerationRequest": {
        "description": "Request structure for TTS generation endpoints",
        "type": "object",
        "required": ["locale", "model", "targetText", "voicePromptId"],
        "properties": {
          "model": {
            "description": "Model ID to use for generation",
            "type": "string",
            "example": "dd-etts-1.1"
          },
          "targetText": {
            "description": "Text to be converted to speech",
            "type": "string",
            "example": "Hello world, welcome to Deepdub."
          },
          "locale": {
            "description": "Language locale code (e.g., en-US, fr-FR)",
            "type": "string",
            "example": "en-US"
          },
          "voicePromptId": {
            "description": "ID of the voice prompt to use for generation",
            "type": "string",
            "example": "vp_12345abcde"
          },
          "generationId": {
            "description": "Optional client-provided ID for the generation. If not provided, one will be generated automatically.",
            "type": "string",
            "example": "gen_67890fghij"
          },
          "targetDuration": {
            "description": "Target duration for the generated audio in seconds",
            "type": "number",
            "example": 10.5
          },
          "tempo": {
            "description": "Playback speed multiplier (0.5-2.0)",
            "type": "number",
            "minimum": 0.5,
            "maximum": 2.0,
            "example": 1.0
          },
          "variance": {
            "description": "Voice variation level (0.0-1.0)",
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "example": 0.8
          },
          "seed": {
            "description": "Random seed for deterministic generation",
            "type": "integer",
            "example": 42
          },
          "temperature": {
            "description": "Generation temperature (0.0-1.0). Higher values produce more varied output.",
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "example": 0.7
          },
          "sampleRate": {
            "description": "Output audio sample rate in Hz. Supported values: 8000, 16000, 22050, 24000, 32000, 36000, 44100, 48000.",
            "type": "integer",
            "enum": [8000, 16000, 22050, 24000, 32000, 36000, 44100, 48000],
            "example": 44100
          },
          "format": {
            "description": "Output audio format. Supported values: mp3, opus, mulaw, wav.",
            "type": "string",
            "enum": ["mp3", "opus", "mulaw", "wav"],
            "example": "mp3"
          },
          "promptBoost": {
            "description": "Enhance voice prompt characteristics for improved quality",
            "type": "boolean",
            "example": true
          },
          "superStretch": {
            "description": "Enable super stretch mode for longer audio generation",
            "type": "boolean",
            "example": false
          },
          "realtime": {
            "description": "Enable real-time processing mode for lower latency",
            "type": "boolean",
            "example": false
          },
          "cleanAudio": {
            "description": "Apply audio cleanup processing to the output",
            "type": "boolean",
            "default": true,
            "example": true
          },
          "autoGain": {
            "description": "Automatically adjust audio gain levels",
            "type": "boolean",
            "example": true
          },
          "publish": {
            "description": "Whether to publish the generated audio for persistent storage",
            "type": "boolean",
            "example": false
          },
          "accentControl": {
            "description": "Optional accent control parameters for blending accents",
            "allOf": [
              {
                "$ref": "#/components/schemas/model.AccentControl"
              }
            ]
          },
          "performanceReferencePromptId": {
            "description": "ID of a performance reference prompt to guide speech style and delivery",
            "type": "string",
            "example": "perf_12345"
          },
          "voiceReference": {
            "description": "Base64-encoded audio reference for voice cloning. Use this instead of voicePromptId for instant voice cloning.",
            "type": "string",
            "example": "base64_encoded_audio_data"
          }
        }
      },
      "model.Response": {
        "description": "Standard API response wrapper",
        "type": "object",
        "required": ["success"],
        "properties": {
          "success": {
            "description": "Whether the operation was successful",
            "type": "boolean",
            "example": true
          },
          "message": {
            "description": "Human-readable status message",
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "description": "Response payload (varies by endpoint)"
          }
        }
      },
      "model.URLResponse": {
        "description": "Response containing a URL for retrieving retroactive TTS audio",
        "type": "object",
        "properties": {
          "url": {
            "description": "URL to retrieve the generated audio",
            "type": "string",
            "example": "https://restapi.deepdub.ai/api/v1/tts/retroactive/gen_67890fghij.mp3"
          }
        }
      },
      "model.VoicePrompt": {
        "description": "A voice prompt representing a cloned or uploaded voice",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the voice prompt",
            "type": "string",
            "example": "vp_12345abcde"
          },
          "title": {
            "description": "Title of the voice prompt",
            "type": "string",
            "example": "Professional Narrator"
          },
          "name": {
            "description": "Display name of the voice prompt",
            "type": "string",
            "example": "Professional Female Voice"
          },
          "locale": {
            "description": "Locale of the voice prompt",
            "type": "string",
            "example": "en-US"
          },
          "text": {
            "description": "Transcript text associated with the voice prompt",
            "type": "string"
          },
          "createdAt": {
            "description": "Timestamp when the voice prompt was created",
            "type": "string",
            "format": "date-time"
          },
          "speakerId": {
            "description": "Unique identifier for the speaker",
            "type": "string"
          },
          "gender": {
            "description": "Gender of the voice",
            "type": "string",
            "enum": ["MALE", "FEMALE", "NON_BINARY"],
            "example": "FEMALE"
          },
          "speakingStyle": {
            "description": "Speaking style of the voice",
            "type": "string",
            "example": "narrative"
          }
        }
      },
      "model.VoiceBankAPIRequest": {
        "description": "Request to upload a voice sample and create a voice prompt",
        "type": "object",
        "required": ["filename", "data"],
        "properties": {
          "filename": {
            "description": "Name of the audio file being uploaded",
            "type": "string",
            "example": "voice_sample.wav"
          },
          "data": {
            "description": "Base64-encoded audio data",
            "type": "string",
            "example": "UklGRiQA..."
          },
          "title": {
            "description": "Title for the voice prompt",
            "type": "string",
            "example": "Professional Narrator"
          },
          "text": {
            "description": "Transcript of the spoken text in the audio sample",
            "type": "string",
            "example": "This is a sample recording for voice cloning."
          },
          "locale": {
            "description": "Language locale code of the voice sample",
            "type": "string",
            "example": "en-US"
          },
          "gender": {
            "description": "Gender of the speaker",
            "type": "string",
            "enum": ["MALE", "FEMALE", "NON_BINARY"],
            "example": "FEMALE"
          },
          "age": {
            "description": "Age of the speaker",
            "type": "integer",
            "example": 35
          },
          "speaking_style": {
            "description": "Speaking style descriptor",
            "type": "string",
            "example": "narrative"
          },
          "speaker_id": {
            "description": "Optional external speaker identifier",
            "type": "string"
          },
          "publish": {
            "description": "Whether to make the voice prompt publicly available",
            "type": "boolean",
            "example": false
          }
        }
      },
      "model.VoiceBankAPIResponse": {
        "description": "Response after creating or deleting a voice prompt",
        "type": "object",
        "properties": {
          "voice_prompt_id": {
            "description": "Unique identifier of the created/affected voice prompt",
            "type": "string",
            "example": "vp_12345abcde"
          }
        }
      },
      "model.VoiceBankAPIUpdateRequest": {
        "description": "Request to update a voice prompt's metadata",
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "description": "Unique identifier for the voice prompt to update",
            "type": "string",
            "example": "vp_12345abcde"
          },
          "name": {
            "description": "New display name for the voice prompt",
            "type": "string",
            "example": "Professional Female Voice"
          },
          "locale": {
            "description": "Language locale code",
            "type": "string",
            "example": "en-US"
          },
          "gender": {
            "description": "Gender of the speaker",
            "type": "string",
            "enum": ["MALE", "FEMALE", "NON_BINARY"],
            "example": "FEMALE"
          },
          "age": {
            "description": "Age of the speaker",
            "type": "integer",
            "example": 35
          }
        }
      },
      "model.ConcurrentConnectionsResponse": {
        "description": "Autoscaling group connection information",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "type": "object",
            "properties": {
              "concurrent_connections": {
                "description": "Current number of active connections",
                "type": "integer",
                "example": 3
              },
              "desired_concurrent_connections": {
                "description": "Desired number of connections in the autoscaling group",
                "type": "integer",
                "example": 5
              }
            }
          }
        }
      },
      "model.UpdateASGRequest": {
        "description": "Request to update autoscaling group capacity",
        "type": "object",
        "required": ["size"],
        "properties": {
          "size": {
            "description": "Desired capacity for the autoscaling group",
            "type": "integer",
            "minimum": 0,
            "example": 5
          }
        }
      }
    }
  }
}
